{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li><a href="{{ path('name_rank_new') }}">Add Names</a></li>
        <li><a href="{{ path('name_rank_compare') }}">Compare names</a></li>
        <li><a href="{{ path('name_rank_names') }}">Show Rank</a></li>
    </ul>

{% endblock %}